@tailwind base;
@tailwind components;
@tailwind utilities;

.a4 {
    width: 29.7cm;
}

@media print {
    .product-image {
        display: none;
    }

    .header-image {
        display: none;
    }
}